/**== fonts ==**/
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.woff2') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.woff2') format('woff2'),
        url('fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Medium.woff2') format('woff2'),
        url('fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




:root {
  --primary-color: #0672CB;
  --white: #ffffff;
  --black: #0E0E0E;
}

body {
	margin: 0;
	padding: 0;
}
a {
	font-family: 'Rubik';
	font-weight: normal;
}
a, a:hover {
	text-decoration: none;
}
ul, li {
	padding: 0;
	margin: 0;
}
body, p {
	font-size: 15px;
	line-height: 18px;
	font-family: 'Rubik';
	font-weight: normal;

}
p {
	margin: 0;
	padding-bottom: 15px;
}
h1, h2, h3, h4,h5, h6 {
	margin: 0;
	font-family: 'Rubik';
	font-weight: 500;
}
h1 {
	font-size: 45px;
	line-height: 55px;
}
h2 {
	font-size: 36px;
	line-height: 43px;
}
h3 {
	font-size: 23px;
	line-height: 28px;
}
ul li {
	list-style: none;
}

.signin-wrap,
.signup-wrap {
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
}
.item-left {
	width: 40%;
	background: url('images/cover-image.jpg') center left no-repeat;
	background-size: cover;
}
.item-right {
	width: 60%;
	background: #ffffff;
	position: relative;
}
.banner-image img {
	width: 100%;
	height: 100vh;
	background-size: cover;
	object-fit: cover;
}
.logo {
    text-align: center;
    margin: 80px 0 30px;
}
.banner-text {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}
.banner-text h1 {
	padding-bottom: 160px;
	color: var(--white);
	max-width: 270px;
	margin: 0 auto;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}
.banner-text h1 span {
	font-size: 36px;
}
.signin-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
form {
	width: 100%;
}
.form-title {
    margin-bottom: 20px;
}
label {
    display: block;
    padding-bottom: 10px;
}
.form-group {
	margin-bottom: 15px;
}
::placeholer {
	color: #636363;
}
input,
textarea {
	color: #636363;
	border: 1px solid #E1E1E1;
	background-color: #f5f6f7;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 18px;
}
textarea {
	height: 100px;
	padding: 10px;
	color: #636363;
	background: #f5f6f7;
}
.forgot {
	text-align: right;
	padding-top: 5px;
}
.forgot a {
	color: var(--black);
}
.sign-up {
	text-align: center;
	padding-top: 5px;
}
.sign-up a  {
	color: var(--primary-color);
}
input[type="submit"] {
	background: var(--primary-color);
	color: var(--white);
	border: 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	margin-top: 30px;
	border: 1px  solid var(--primary-color);
}
input[type="submit"]:hover {
	background: transparent;
	border-color: var(--primary-color);
	color: var(--primary-color);
}
input:focus-visible {
    outline: none;
}
.input-group-text {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.input-group-text::before{
	content: "";
	background-image: url('images/eye.png');
	background-position: center  right 10px;
	background-repeat: no-repeat;
	background-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/**== sign up page css ===**/
.group-half {
	display: flex;
	flex-flow: row wrap;	
}
.group-half .form-group {
	width: calc((100% - 30px)/2);
	margin-right: 30px;
}
.group-half .form-group:last-child {
	margin-right: 0;
}


/**=== registration page css ===**/
.frame {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 30px;
	position: relative;
	z-index: 123;
}
.frame ul li {
	list-style: none;
	float: left;
	text-align: center;
	width: 112px;
}
.frame ul li span {
	display: block;
	font-size: 12px;
	color: #E1E1E1;
	transition: all 0.5s ease-in-out;
}
.frame ul li.active span,
.frame ul li.completed span {
	color: var(--primary-color);
}
.frame ul li a {
	display: inline-block;
	background: #E1E1E1;
	color: var(--white);
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	transition: all 0.5s ease-in-out;
}
.frame ul li a span {
	color: red;
}
.frame ul li:hover a {
	background: var(--primary-color);
}
.frame ul li:hover span {
	color: var(--primary-color);  
}
.frame ul li.active a,
.frame ul li.completed a {
	background: var(--primary-color);
}
.frame ul li a::after {
	content: '';
	position: absolute;
	right: -80px;
	top: 50%;
	transform: translateY(-50%);
	background: #E1E1E1;
	height: 1px;
	width: 80px;
}
.frame ul li.completed a::after {
	background: var(--primary-color);
}
.frame ul li:last-child a::after {
	display: none;
}
.title-center {
	text-align: center;
	margin-top: 100px;
}
.group-half input[type="submit"] {
	margin-top: 0;
}
.button-border input[type="submit"] {
	background: var(--white);
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}
.button-border input[type="submit"]:hover {
	background: var(--primary-color);
	color: var(--white);
}
.verification-inner {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px; 

}
.title {
    text-align: center;
}
.bottom-title{
	text-align: center; 
}
.bottom-title p strong {
	color: var(--primary-color);
}
.verification-code ul li:last-child {
	margin-right: 0;
}
.verification-code ul li a {
	color: #0E0E0E;
}

.verification-form-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    }
.code-title {
	max-width: 445px;
	margin: 30px auto 0;
}
form.verification-form input {
	border: 1px solid #0E0E0E;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}
form.verification-form .form-group {
	margin-right: 15px;
}
form.verification-form .form-group:last-child {
	margin-right: 0;
}
form.verification-form input::placeholer {
	color: #0E0E0E!important;
}
.bottom-title h3 {
	padding-bottom: 10px;
}
form.verification-form input[type="submit"] {
    width: 100%;
    border-color: var(--primary-color);
}
.skip {
	text-align: center;
}
.skip a {
	color: var(--primary-color);
}
.verification-code {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}
.verification-form-inner {
	margin-bottom: 60px;
}

/**=== office registration page css ==**/
.registration-bottom {
    padding: 0 50px;
}
.bottom-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}
.bottom-item {
	margin-right: 30px;
	width: calc((100% - 30px) /2);
}
.bottom-item:last-child {
	margin-right: 0;
}
.right-item {
	display: flex;
	flex-flow: row wrap;
}
.color {
	margin-right: 30px;
	width: calc((100% - 30px) /2);
	margin-bottom: 15px;
}
.color:nth-child(2) {
	margin-right: 0;
}
.color span {
	border: 1px solid #0E0E0E;
	border-radius: 4px;
	height: 42px;
	width: 100%;
	line-height: 42px;
	display: flex;
	align-items: center;
}
.color span::before {
	content: '';
	display: inline-block;
	height: 42px;
	background: var(--primary-color);
	width: 40px;
	margin-right: 8px;
}
.color.secondary-color span::before {
	background: #0E0E0E;
}
.color p {
	padding-bottom: 5px;
}

.buttons {
	margin-top: 30px;
}
.button-middle {
    max-width: 540px;
    margin: 30px auto 0;
}
 
 .company-detail .form-title {
    margin-top: 5px;
}
.input-group {
	position: relative;
}
.input-group input {
	padding-right: 50px;
}
.input-group-append.toggle-password {
    display: flex;
    width: 44px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}
span.input-group-text.mdi::after {
    content: "";
    width: 1px;
    height: 22px;
    background: #000;
    position: absolute;
    left: 55%;
    top: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
}
span.input-group-text.mdi.mdi-eye-off-outline::after {
    left: 20px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
}
.inner-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 114px);
}


.drag-file-area {
	width: 100%;
	background: rgba(6,114,204,0.2);
	border-radius: 5px;
	border: 1px dashed #0E0E0E;
	padding: 60px 30px;
	text-align: center;
	box-sizing: border-box;
}
.drag-file-area .upload-icon {
    font-size: 24px;
    border: 2px solid #0E0E0E;
    border-radius: 50%;
    padding: 8px;
    color: #0E0E0E;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 16px;
}
.drag-file-area label .browse-files-text {
	color: var(--primary-color);
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
	height: 30px;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
    color: #f7fff7;
    border: 1px solid #636363;
    background-color: #F5F6F7;
    transition: all 1s;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;
    padding: 14px 15px;
    border-radius: 4px;
    cursor: pointer;
    flex-flow: row wrap;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
	color: #0E0E0E;
}
.progress-bar {
    position: static;
    background: #0672CB;
    width: 100% !important;
    height: 8px;
    border-radius: 50px;
    margin-top: 7px;
}

.file-info {
    font-size: 12px;
}

span.file-size {
    margin-left: auto;
}

.file-info {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    color: #0E0E0E;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}
.browse-files span.successful-message {
    top: 0;
    color: var(--primary-color);
    margin-top: 10px;
    display: block;
}
span.material-icons.remove-file-icon {
    width: 20px;
}

span.file-name {
    font-weight: 600;
}

.bar-left {
    display: flex;
    width: 100%;
}
/** Responsive code Here **/
@media only screen and (max-width: 1180px) {
	.logo {
		margin-top: 30px
	}
	.color {
		width: 100%;
		margin-right: 0;
	}
	.banner-text h1 {
		font-size: 42px;
		line-height: 46px;
		padding-bottom: 100px;
	}
}
@media only screen and (max-width: 767.3px) {
	.logo {
		margin-bottom: 30px;
	}
	.logo img {
		width: 60%;
		max-width: 180px;
	} 
	.signin-wrap {
	    height: auto;
	}
	.item-left,.item-right,
	.signin-form {
	    width: 100%;
	}
	.item-right {
		width: 100%;
		padding: 0 30px;
		margin: 0 auto;
	}
	.banner-text h1 {
	    text-align: center;
	    padding: 0;
	    font-size: 34px;
	    line-height: 42px;
	}
	h2 {
		font-size: 26px;
		line-height: 30px
	}
	.item.item-left {
	    padding: 100px 30px;
	}
	.signin-form.company-detail {
		margin-top: 30px;
	}
	.frame ul li {
	    width: 104px;
	}
	.title-center {
		margin-top: 30px;
	}
	.registration-bottom {
		padding: 0 30px;
	}
	.inner-wrap {
		height: auto;
	}
}
@media only screen and (max-width: 480px) {
	.banner-text h1 {
	    font-size: 26px;
	    line-height: 32px;
	}
	h2 {
		font-size: 24px;
		line-height: 28px;
	}
	.form-title h2 {
		margin-bottom: 5px
	}
	.group-half .form-group {
	    width: 100%;
	    margin-right: 0px;
	}
	.bottom-item {
		width: 100%;
	}
	.item-right {
		padding: 0 20px;
	}
	.frame ul li {
		width: 90px;
	}
	.frame ul li span {
		line-height: 12px;
		margin-top: 5px;
	}
}